* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E8EFF3;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.weather-main {
    margin-right: 40px;
}

.main-card {
    height:400px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    transition: all .4s;
}

.main-card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px -5px;
}

.main-card p {
    padding: 10px 0;
    font-weight: 600;
}

.main-card h1 {
    padding: 10px 0;
}

.main-card sup {
    font-size: 15px;
}

.main-card img {
    width: 100px;
}

.main-card h3 {
    padding: 10px 0;
}

.weather-sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

}

.weather-sub .card {
    height: 115px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    flex-basis: 32%;
    margin:12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
}

.weather-sub .card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px -5px;
}

.weather-sub .card h3{
    padding:5px 0;
}

@media screen and (max-width:992px){
    .weather {
    padding: 0 40px;
}
}


@media screen and (max-width:768px){
    .weather {
        padding: 0 20px;
    }
    .weather-main {
        margin-right: 20px;
    }
    .main-card {
        width: 230px; 
    }

    .weather-sub .card h3{
        font-size: 16px;
    }
}

@media screen and (max-width:600px){
    .weather {
        padding: 20px;
    }
    .weather-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .weather-main {
        margin-right: 0;
        width: 100%;
    }

    .main-card {
        height:320px;
        width: 100%;
    }
}